.for-whom {
    padding-bottom: 175px;

    @media screen and (max-width: 1099px) {
        padding-bottom: 96px;
    }

    .l-default {
        @media screen and (max-width: 600px) {
            padding: 0 38px; 
        }
    }

    &__title {
        text-align: center;
    }

    &__subtitle {
        font-size: 35px;
        line-height: 120%;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 56px;

        @media screen and (max-width: 1099px) {
            font-size: 28px;
        }

        @media screen and (max-width: 600px) {
            font-size: 22px;
            margin-bottom: 24px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: -20px;

        @media screen and (max-width: 1099px) {
            align-items: flex-start;
            margin-bottom: 10px;
        }

        &:nth-child(2n) {
            flex-direction: row-reverse;

            .for-whom {
                &__item {
                    &-icon {
                        margin-right: 0;
                        margin-left: 30px;
                    }

                    &-text {
                        text-align: right;
                    }
                }
            }
        }

        &-icon {
            min-width: 165px;
            margin-right: 30px;

            @media screen and (max-width: 1099px) {
                min-width: 100px;
            }
    
            @media screen and (max-width: 600px) {
                min-width: 75px;
                margin-right: 12px;
            }
        }

        &-text {
            font-size: 22px;
            font-weight: 700;
            line-height: 120%;

            @media screen and (max-width: 600px) {
                font-size: 15px;
                padding-top: 15px;
            }
        }
    }
}