section.for-whom
    .l-default 
        h2.for-whom__title.title.title--h2 Что мы подготовили
        .for-whom__subtitle для вас
        .for-whom__items
            .for-whom__item
                .for-whom__item-icon
                    img(src="img/svg/for-whom/1.svg", alt="")
                .for-whom__item-text Научим вас как лучше оптимизировать налоги на ваши инвестиции
            .for-whom__item
                .for-whom__item-icon
                    img(src="img/svg/for-whom/2.svg", alt="")
                .for-whom__item-text Подведем итоги года - что было и что нового Invest Heroes готовит в 2023
            .for-whom__item
                .for-whom__item-icon
                    img(src="img/svg/for-whom/3.svg", alt="")
                .for-whom__item-text Расскажем, как планируем зарабатывать в 2023: торгуем 2022 без минусов и вам тоже подскажем, как
