section.main-top
    .main-top__toy
        img(src="img/svg/toy-1.svg", alt="")
    .main-top__toy
        img(src="img/svg/toy-2.svg", alt="")
    .l-default
        h1.main-top__title.title.title--h1 С Наступающим 2023 Новым Годом!
        .main-top__what
            .main-top__what-back
                img(src="img/svg/main-top/back.svg", alt="")
            .main-top__what-snow
                img(src="img/svg/main-top/snow.svg", alt="")
            .main-top__what-imgs
                .main-top__what-year 20<span>22</span>
                .main-top__what-img
                    img(src="img/svg/main-top/tree.svg", alt="")
                .main-top__what-year 20<span>23</span>
            .main-top__what-text что будет дальше?
            .main-top__what-description free марафон
            a.main-top__what-btn.btn.btn--blue.scroll(href="#horizontal-form") Присоединиться
        .main-top__text Благодаря IH для тысяч инвесторов этот год прибыльный, а не убыточный! <span>Присоединяйтесь к марафону и почувствуйте что значит быть в правильном окружении!</span>