section.what
    .what__snow.what__snow-left
        img(src="img/svg/what/snow-left.svg", alt="")
    .what__snow.what__snow-right
          img(src="img/svg/what/snow-right.svg", alt="")
    .l-default 
        h2.what__title.title.title--h2 что получите
        .what__items
            .what__item
                .what__item-icon
                    img(src="img/svg/what/1.svg", alt="")
                .what__item-text Подсказки как оптимизировать ваши налоги на инвестиции в 2022
            .what__item
                .what__item-icon
                    img(src="img/svg/what/2.svg", alt="")
                .what__item-text Взгляд на 2023 в инвестициях и как получить прибыль в новом году
            .what__item
                .what__item-icon
                    img(src="img/svg/what/3.svg", alt="")
                .what__item-text Новые навыки, которые повысят устойчивость ваших портфелей
            .what__item
                .what__item-icon
                    img(src="img/svg/what/4.svg", alt="")
                .what__item-text +5% скидка на Новый год / STRATEGY DAY в январе 2023 в подарок к годовой подписке
            .what__item
                .what__item-icon
                    img(src="img/svg/what/5.svg", alt="")
                .what__item-text Подход как сберегать в 2023? - валюты, инструменты
        .what__prizes
            .what__prizes-title  Материалы и подарки участникам:
            ul.what__prizes-list
                li презентация по налогообложению инвестиций
                li методичка "пуленепробиваемый портфель"
                li видеозаписи эфиров х2
                li слайды из презентации Сергея Пирогова - "Стратегия-2023

