section.horizontal-form#horizontal-form
    .branch 
        img(src="img/svg/branch.svg", alt="")
    .branch 
        img(src="img/svg/branch.svg", alt="")
    .l-default
        .horizontal-form__wrapper
            .horizontal-form__img 
                img(src="img/svg/tree.svg", alt="")
            include .././form/form.pug 